<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transaction Details</title>
  <style>
  </style>
</head>
<body>
  <h1>Transaction Details</h1>
  <p>Transaction ID: <%= data._id %></p>
  <p>Shares: <%= data.shares.join(', ') %></p>
  <p>Quantity: <%= data.quantity %></p>
  <p>Transaction Amount: <%= data.transactionAmount %></p>
</body>
</html>
